/* @import './base.css'; */
/* @import "tailwindcss"; */
/* @import './base.css'; */
/* @import "tailwindcss-primeui/css"; */
@import "tailwindcss";
@config "@/tailwind.config.ts";
@import 'primeicons/primeicons.css';

@theme {
  --color-background-gray: #F5F7FA;
  --color-text-dark: #000000;
  --color-text-secondary: #6B7280;
  --color-text-light: #F5F7FA;
  --color-form-border: #E9E9E9;
  --color-form-border-hover: #D9D9D9;
  --color-card-overlay: #FFFFFFE5;
  --color-card-bg: #F5F5F5;
}

@layer base {
  body {
    font-family: theme('fontFamily.sans');
    background: 'white';
  }

  h1, h2, h3, h4, h5, h6 {
    /* font-weight: bold; */
    color: var('--colors.text-dark')
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl my-15;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  p {
    font-family: theme('fontFamily.sans');
    /* @apply font-light text-sm leading-7 tracking-normal md:font-light md:text-xl md:leading-[100%] text-black; */
  }

  :root.dark h1,
  :root.dark h2,
  :root.dark h3,
  :root.dark h4,
  :root.dark h5,
  :root.dark h6 {
    color: theme('colors.text-light');
  }
}

@layer components {
  .app-shell main > section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: 1024px) {
    .app-shell main > section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}